{# This page has a better way of flashing messages #}


{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="text-{{ category }}">{{ message }}</li> <!-- BootStrap classes --> 
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


You can also filter the flashed message by category, e.g., 
{% with messages = get_flashed_messages(category_filter=['danger'])%}
    ...... 
{% endwith %}


{% macro list_flash_messages() %} {% with messages = get_flashed_messages(with_categories=True) %} {% if messages %}
<ul class="fa-ul">
  {% for category, message in messages %}
  <li class="big text-{{category if category else 'danger'}}">
    <i class="fa-li fa fa-times-circle"></i>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %} {% endmacro %}